<div class="back">
  <div class="container-3">
      <% if @topic3.question3 == 7  %>
        <div class="col-13">
          <p>お菓子の店 くり～む</p>
        </div>
        <div class="sindan_flex">
          <div class="col-10">
            <%= image_tag '/assets/kuri-mu.jpg', size: "100%x100%", class: 'hoge' %>
          </div>
          <div class="col-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3213.438177777466!2d140.31048307581787!3d36.35016397237882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60221f2ec3fbc897%3A0x1430f97f6461e2fe!2z44GK6I-T5a2Q44Gu5bqX44GP44KK44O844KA!5e0!3m2!1sja!2sjp!4v1695895140987!5m2!1sja!2sjp" width="100%" height="150%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      <% end %>

      <% if @topic3.question3 == 8  %>
        <div class="col-13">
          <p>CAFE PLANT</p>
        </div>
        <div class="sindan_flex">
          <div class="col-10">
            <%= image_tag '/assets/cafeplant.jpg', size: "100%x100%", class: 'hoge' %>
          </div>
          <div class="col-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.0818384264758!2d140.6416021757973!3d35.89601127251872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022fff7fb01ee73%3A0x37c5245016987b2b!2scafe%20PLANT!5e0!3m2!1sja!2sjp!4v1695895842223!5m2!1sja!2sjp" width="100%" height="150%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      <% end %>

      <% if @topic3.question3 == 9  %>
        <div class="col-13">
          <p>那珂湊おさかな市場</p>
        </div>
        <div class="sindan-flex">
          <div class="col-10">
            <%= image_tag '/assets/rawfish.jpg', size: "100%x100%", class: 'hoge' %>
          </div>
          <div class="col-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3213.8603413310652!2d140.59180987581743!3d36.33993447238194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022317de664e73b%3A0x60250106e45355f3!2z6YKj54-C5rmK44GK44GV44GL44Gq5biC5aC0!5e0!3m2!1sja!2sjp!4v1695895996308!5m2!1sja!2sjp" width="100%" height="150%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      <% end %>

      <% if @topic3.question3 == 10  %>
        <div class="col-13">
          <p>Spring Tree</p>
        </div>
        <div class="sindan-flex">
          <div class="col-10">
            <%= image_tag '/assets/steak.jpg', size: "100%x100%", class: 'hoge' %>
          </div>
          <div class="col-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328201.2267395067!2d137.86886725!3d35.44992914999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x602211b727486911%3A0x9aa92bbbe04b826e!2zU3ByaW5nIFRyZWUg44K544OX44Oq44Oz44Kw44OE44Oq44O8!5e0!3m2!1sja!2sjp!4v1695896543600!5m2!1sja!2sjp" width="100%" height="150%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      <% end %>

      <% if @topic3.question3 == 11  %>
        <div class="col-13">
          <p>竜神大吊橋</p>
        </div>
        <div class="sindan-flex">
          <div class="col-10">
            <%= image_tag '/assets/turibashi.jpg', size: "100%x100%", class: 'hoge' %>
          </div>
          <div class="col-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3199.6799293405466!2d140.46669839999998!3d36.682196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60219123f13703ff%3A0x6be146837421eb4b!2z56uc56We5aSn5ZCK5qmL!5e0!3m2!1sja!2sjp!4v1695896824316!5m2!1sja!2sjp" width="100%" height="150%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      <% end %>  

      <% if @topic3.question3 == 12  %>
        <div class="col-13">
          <p>アクアワールド茨城県大洗水族館</p>
        </div>
        <div class="sindan-flex">
          <div class="col-10">
            <%= image_tag '/assets/aqueworld.jpg', size: "100%x100%", class: 'hoge' %>
          </div>
          <div class="col-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3214.122690688531!2d140.5940178!3d36.333576199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60223163029ebc25%3A0x56608e569a1c880b!2z44Ki44Kv44Ki44Ov44O844Or44OJ6Iyo5Z-O55yM5aSn5rSX5rC05peP6aSo!5e0!3m2!1sja!2sjp!4v1695897077526!5m2!1sja!2sjp" width="100%" height="150%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      <% end %>  
    <% if @topic3.question3 == 13  %>
      <div class="col-13">
        <p>国営ひたち海浜公園</p>
      </div>
      <div class="sindan_flex">
        <div class="col-10">
          <%= image_tag '/assets/rednemophila.jpg', size: "100%x100%", class: 'hoge' %>
        </div>
        <div class="col-8">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3211.1376837254797!2d140.59648679999998!3d36.405864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60218b1d845e4441%3A0x767e1dea03e6f0e1!2z5Zu95Za244Gy44Gf44Gh5rW35rWc5YWs5ZyS!5e0!3m2!1sja!2sjp!4v1695897238768!5m2!1sja!2sjp" width="100%" height="150%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    <% end %>    

    <% if @topic3.question3 == 14  %>
      <div class="col-13">
        <p>日立駅</p>
      </div>
      <div class="sindan_flex">
        <div class="col-10">
          <%= image_tag '/assets/hitachi.jpg', size: "100%x100%", class: 'hoge' %>
        </div>
        <div class="col-8">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.4825760966933!2d140.6621017!3d36.59068489999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60218034dd4a1fd1%3A0xff4caa067d8ec9cc!2z5pel56uL6aeF!5e0!3m2!1sja!2sjp!4v1695897288986!5m2!1sja!2sjp" width="100%" height="150%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    <% end %>      
  </div>
<div>