<div class="back">
    <div class="top_container">
        <div class="image_container">
            <%= image_tag"rednemophila.jpg" %>
            <%= image_tag"oaraishrine.jpg" %>
            <%= image_tag"aqueworld.jpg" %>
        </div>
        <div class="theme1">
            Central Ibaraki
        </div>
    </div>
    <div class="kennaiarea_container">
        <div class="area_introduction">
            <div class="kubun">
                <%= image_tag"kubun.jpg",  class:"kubun_image" %>
            </div>
            <div class="fadeLeftTrigger">
                <div class="area_name_setumei">
                    <div class="area_name">
                        県央エリア
                    </div>
                    <div class="area_setumei">
                        県央エリアは、文化と歴史の宝庫です。<br><br>
                        名所・偕楽園での紅葉や桜の美しさ、そして歴史的な建物が印象的。<br><br>
                        水戸藩の歴史を知ることができる三の丸尚蔵館や偕楽園。<br><br>
                        「水戸の納豆」や「鹿島揚げ」など、地元のグルメも見逃せない。<br><br>
                        伝統工芸品の「常陸焼」の工芸体験もおすすめ。<br><br>
                        このエリアの深い歴史と文化を、じっくりと味わってみてはいかがでしょうか。<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"osakanaitiba.jpg",  class:"osakanaitiba_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">那珂湊おさかな市場</span>
                    </div>
                    <div class="place_introduction">
                    海の宝石箱、那珂湊の新鮮な一日始まり。
                    </div>
                </div>
                <a href="http://www.nakaminato-osakanaichiba.jp/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"train.jpg",  class:"train_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">ひたちなか海浜鉄道湊線</span>
                    </div>
                    <div class="place_introduction">
                    海浜の旅路、湊線で繋がる風景の物語。
                    </div>
                </div>
                <a href="https://hitachikaihin.jp/traveppe/spring2018/tabibanashi.html/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"aqueworld2.jpg",  class:"aqueworld2_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">アクアワールド茨城県大洗水族館</span>
                    </div>
                    <div class="place_introduction">
                        家族になっても忘れない思い出に。
                    </div>
                </div>
                <a href="https://www.aquaworld-oarai.com//" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"oaraishrine.jpg",  class:"oaraishrine_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">大洗磯前神社</span>
                    </div>
                    <div class="place_introduction">
                    心が触れる歴史と神々の息吹
                    </div>
                </div>
                <a href="https://www.oarai-isosakijinja.net/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"unagi2.jpg",  class:"unagi2_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">うなぎ 量深</span>
                    </div>
                    <div class="place_introduction">
                        伝統の技と味で、心に刻む一皿。
                    </div>
                </div>
                <a href="https://unagi-ryousin.com/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"sunflowersheet.jpg",  class:"sunflowersheet_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">サンフラワーシード・<br>フロレンティーナ</span>
                    </div>
                    <div class="place_introduction">
                    初めての味をここで
                    </div>
                </div>
                <a href="https://www.jalan.net/kankou/spt_08226ga2272109576/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"hororunoyu.jpg",  class:"hororunoyu_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">ホロルの湯</span>
                    </div>
                    <div class="place_introduction">
                        自然の恵みで心と身体を温める瞬間。
                    </div>
                </div>
                <a href="https://www.hororunoyu.jp/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"etowa.jpg",  class:"etowa_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">ETOWA KASAMA</span>
                    </div>
                    <div class="place_introduction">
                        空に近い森のアウトドアリゾート
                    </div>
                </div>
                <a href="https://www.cigr.co.jp/etowa/kasama/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/3-2-3-1/js/3-2-3-1.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/4-14/js/4-14.js"></script>