<div class="back">
    <div class="top_container">
        <div class="image_container">
            <%= image_tag"unagi.jpg" %>
            <%= image_tag"kaisen.jpg" %>
            <%= image_tag"applepie.jpg" %>
        </div>
        <div class="theme1">
            FOOD
        </div>
    </div>

    <div class="kennaiarea_container">
        <div class="area_introduction">
            <div class="kubun">
                <%= image_tag"kubun.jpg",  class:"kubun_image" %>
            </div>
            <div class="fadeLeftTrigger">
                <div class="area_name_setumei">
                    <div class="area_name">
                    茨城の味覚旅<br>
                    ～絶品グルメとスイーツの魅力～
                    </div>
                    <div class="area_setumei">
                        茨城県は、新鮮な食材を活かした多彩なグルメの宝庫です。<br><br>
                        まず、飛び跳ねるほどの新鮮さを誇る「ひたち牛」の肉質は絶品。<br><br>
                        「水戸の納豆」はその風味と食感で日本一を誇ります。<br><br>
                        また、鹿島灘で獲れる新鮮な魚介は、寿司や刺身として極上。<br><br>
                        スイーツでは、柔らかく甘い「筑西もち」や、濃厚な「土浦の焼きドーナツ」が人気。<br><br>
                        夏には、太平洋からの風を感じながら「大洗のかき氷」を楽しむことも。<br><br>
                        茨城の食文化をぜひ、一口で感じてみてください。<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"akisoba2.jpg",  class:"akisoba2_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">常陸秋そば</span>
                    </div>
                    <div class="place_introduction">
                        秋の香り、常陸の心を一滴に。
                    </div>
                </div>
                <a href="https://www.ibaraki-shokusai.net/season/hitachiakiso" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"osakana.jpg",  class:"osakana_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">道の駅 日立おさかなセンター</span>
                    </div>
                    <div class="place_introduction">
                        新鮮な海の恵み、日立からあなたのテーブルへ。
                    </div>
                </div>
                <a href="https://www.ibarakiguide.jp/gourmet/michinoeki/michinoeki_hitachi.html" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"unagi2.jpg",  class:"unagi2_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">うなぎ 量深</span>
                    </div>
                    <div class="place_introduction">
                        伝統の技と味で、心に刻む一皿。
                    </div>
                </div>
                <a href="https://unagi-ryousin.com/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"applepie.jpg",  class:"applepie_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">奥久慈アップルパイ</span>
                    </div>
                    <div class="place_introduction">
                    一切れの甘い贅沢
                    </div>
                </div>
                <a href="https://www.ibaraki-shokusai.net/rokuji/page?id=10397" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"itigo.jpg",  class:"itigo_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">いちご狩り</span>
                    </div>
                    <div class="place_introduction">
                    あたり一面いちごだらけ
                    </div>
                </div>
                <a href="https://ichigo.walkerplus.com/ranking/ar0308/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"sunflowersheet.jpg",  class:"sunflowersheet_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">サンフラワーシード・<br>フロレンティーナ</span>
                    </div>
                    <div class="place_introduction">
                    初めての味をここで
                    </div>
                </div>
                <a href="https://www.jalan.net/kankou/spt_08226ga2272109576/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"pizza.jpg",  class:"pizza_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">ITALIAN  GAREGE</span>
                    </div>
                    <div class="place_introduction">
                    日本一のpizza職人の味をご賞味あれ
                    </div>
                </div>
                <a href="http://www.cafefishing.com/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
           <div class="fadeUpTrigger">
                <%= image_tag"tenpura.jpg",  class:"tenpura_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">天ぷら割烹 てんや</span>
                    </div>
                    <div class="place_introduction">
                    こだわりたっぷりの天ぷら
                    </div>
                </div>
                <a href="https://city.kashima.ibaraki.jp/site/kashima-gohan/13685.html" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/3-2-3-1/js/3-2-3-1.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/4-14/js/4-14.js"></script>