<div class="back">

    <%= link_to"おすすめを提案",new_topic_path, class:"ddmenu"%>

    <div class="top_container">
        <div class="theme1">
            <p>茨城の魅力、一歩先を行く旅先へ</p>
        </div>
    </div>

    <div class="image_container">
         <%= image_tag".nemophila.jpg",  class:"top_image" %>
    </div>

    <div class="merit_container">
       <div class="merit">
            <div class="title1">
                茨城を観光するメリット
            </div>
            <div class="theme2">
                あなたの非日常の旅が、<br>
                ここにあります。
            </div>
            <div class="theme3">
                関東圏の中心からほんの一歩足を伸ばせば、<br>
                茨城県の豊かな「非日常」があなたを待っています。<br><br>
                息をのむような自然景観、地元の新鮮な食材を使った絶品グルメ、<br>
                そして心躍るアクティビティが溢れています。<br><br>
                茨城県は、都会の喧騒を忘れさせてくれる緑豊かな景色や、湖沼、<br>
                海岸線に囲まれた魅力的なスポットが点在しています。<br><br>
                また、地域ごとの伝統的な料理やスイーツを堪能することもできます。<br>
                アドベンチャー好きなら、サイクリングやハイキング、<br>
                海でのアクティビティもおすすめ。<br><br>
                関東圏で味わえる非日常を、茨城県で体験してみませんか？</p>
            </div>
        </div>
        <div class="image">
            <%= image_tag"hitachistation&rawfish.jpg" %>
        </div>
    </div>

    <div class="area_container">
        <div class="area">
            <h2>Area</h2>
        </div>
        <div class="area1">
            エリア
        </div>
        <div class="northcentral">
            <div class="north_ibaraki">
                <%= image_tag"bungee.jpg",  class:"banzi_image"%>
                <div class="north">
                    <span class="underline_black">県北エリア</span>
                </div>
                <div class="sub1">
                    North Ibarakai
                </div>
            </div>
            <div class="central_ibaraki">
                <%= image_tag"aqueworld.jpg",  class:"aqua_image"%>
                <div class="central">
                    <span class="underline_black">県央エリア</span>    
                </div>
                <div class="sub2">
                    Central Ibarakai
                </div>
            </div>
        </div>
        <div class="westsouth">
            <div class="west_ibaraki">
                <%= image_tag"tukubamountain.jpg",  class:"tsukuba_image"%>
                <div class="west">
                    <span class="underline_black">県西エリア</span>
                </div>
                <div class="sub1">
                    West Ibarakai
                </div>
            </div>
            <div class="south_ibaraki">
                <%= image_tag"unagi.jpg",  class:"unagi_image"%>
                <div class="south">
                    <span class="underline_black">県南エリア</span>
                </div>
                <div class="sub2">
                    South Ibarakai
                </div>
            </div>
        </div>
        <div class="rokko_ibaraki">
            <%= image_tag"shrine.jpg",  class:"zinzya_image"%>
            <div class="rokko">
                <span class="underline_black">鹿行エリア</span>
            </div>
            <div class="sub1">
                Rokko Ibarakai
            </div>
        </div>
    </div>
        
    <div class="shrine_container">
        <div class=shrine image>
            <%= image_tag"splash.jpg",  class:"middle_image" %>
        </div>
    </div>


    <div class="genre_container">
        <div class="area">
            <h2>Gerne<h2>
        </div>
        <div class="area1">
            ジャンル
        </div>
        <div class="food_theme">
            <div class="nikumattya">
                <%= image_tag"nikumattya.jpg",  class:"photo1_image"%>
            </div>
            <div class="introduction1">
                <div class="tag1">
                    FOOD
                </div>
                <div class="tag2">
                    茨城グルメ
                </div>
                <div class="tag3">
                    美味の宝庫、<br>
                    茨城へ。<br>
                    地元の逸品を一口<br>
                </div>
            </div>
        </div>
        <div class="sightseeing_theme">
            <div class="introduction2">
                <div class="tag1">
                    SIGHTSEEING
                </div>
                <div class="tag2">
                    観光地
                </div>
                <div class="tag3">
                    息をのむ美しさ、<br>
                    茨城の瞬間、<br>
                    永遠の記憶<br>
                </div>
            </div>
            <div class="kanko">
                <%= image_tag"sightseeing.jpg",  class:"photo2_image"%>
            </div>
        </div>
    </div>
</div>