<div class="back">
    <div class="top_container">
        <div class="image_container">
            <%= image_tag"akisoba.jpg" %>
            <%= image_tag"hitachistation.jpg" %>
            <%= image_tag"onsen.jpg" %>
        </div>
        <div class="theme1">
            North Ibaraki
        </div>
    </div>

    <div class="kennaiarea_container">
        <div class="area_introduction">
            <div class="kubun">
                <%= image_tag"kubun.jpg",  class:"kubun_image" %>
            </div>
            <div class="fadeLeftTrigger">
                <div class="area_name_setumei">
                    <div class="area_name">
                        県北エリア
                    </div>
                    <div class="area_setumei">
                        県北エリアは、大自然の中の冒険が待っています。<br><br>
                        霞ヶ浦や北浦の美しい湖沼景観には息をのむ美しさ。<br><br>
                        湖上や周辺ではアウトドアや釣りを楽しむことができます。<br><br>
                        郷土料理として「筑西もち」や「平飼い鶏の親子丼」は絶品。<br><br>
                        また、地酒の「奈良萬」を味わうのも忘れずに。<br><br>
                        古代の歴史も感じられる鹿島神宮や霞ヶ浦大橋も必見。<br><br>
                        このエリアでの様々な体験が、訪れる者を魅了します。<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"hitachi.jpg",  class:"hitachi_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">日立駅</span>
                    </div>
                    <div class="place_introduction">
                        と緑に囲まれた息をのむ景色
                    </div>
                </div>
                <a href="https://seaside-station.com/station/hitachi/" class="btn05 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"osakana.jpg",  class:"osakana_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">道の駅 日立おさかなセンター</span>
                    </div>
                    <div class="place_introduction">
                        新鮮な海の恵み、日立からあなたのテーブルへ。
                    </div>
                </div>
                <a href="https://www.ibarakiguide.jp/gourmet/michinoeki/michinoeki_hitachi.html" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"akisoba2.jpg",  class:"akisoba2_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">常陸秋そば</span>
                    </div>
                    <div class="place_introduction">
                        秋の香り、常陸の心を一滴に。
                    </div>
                </div>
                <a href="https://www.ibaraki-shokusai.net/season/hitachiakisoba/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"applepie.jpg",  class:"applepie_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">奥久慈アップルパイ</span>
                    </div>
                    <div class="place_introduction">
                    一切れの甘い贅沢
                    </div>
                </div>
                <a href="https://www.ibaraki-shokusai.net/rokuji/page?id=10397" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"hanabi.jpg",  class:"hanabi_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">大子町花火大会</span>
                    </div>
                    <div class="place_introduction">
                    大子の空と水、夜の幻想舞う。
                    </div>
                </div>
                <a href="https://www.town.daigo.ibaraki.jp/page/page006494.html" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"onsen.jpg",  class:"onsen_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">北茨城の名湯</span>
                    </div>
                    <div class="place_introduction">
                    北茨城の秘湯、心と身を癒す温もり。
                    </div>
                </div>
                <a href="https://ibanavi.net/contents/special/89/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>  
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"turibashi.jpg",  class:"turibashi_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">竜神大吊橋・竜神峡</span>
                    </div>
                    <div class="place_introduction">
                    空を渡る橋、竜神の絶景が呼ぶ。
                    </div>
                </div>
                <a href="https://ohtsuribashi.ryujinkyo.jp/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"village.jpg",  class:"village_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">高萩アウトドアフィールド</span>
                    </div>
                    <div class="place_introduction">
                    高萩の大自然、冒険の舞台がここに。
                    </div>
                </div>
                <a href="http://www.hagi-v.com/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/3-2-3-1/js/3-2-3-1.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/4-14/js/4-14.js"></script>