<div class="back">
    <div class="top_container">
        <div class="image_container">
            <%= image_tag"shrine.jpg" %>
            <%= image_tag"azisai2.jpg" %>
            <%= image_tag"itigo.jpg" %>
        </div>
        <div class="theme1">
            Rokkou Ibaraki
        </div>
    </div>
    <div class="kennaiarea_container">
        <div class="area_introduction">
            <div class="kubun">
                <%= image_tag"kubun.jpg",  class:"kubun_image" %>
            </div>
            <div class="fadeLeftTrigger">
                <div class="area_name_setumei">
                    <div class="area_name">
                        鹿行エリア
                    </div>
                    <div class="area_setumei">
                        鹿行エリアは、静かな田園風景と美味しいグルメの宝庫。<br><br>
                        美しい風景の中、サイクリングやハイキングを楽しめるスポットが点在。<br><br>
                        地元の「鹿行牛」や「山の幸」を使用した料理は、口の中で広がる幸福感。<br><br>
                        歴史的な「土浦城址公園」や「竜神大吊橋」も訪れたい名所。<br><br>
                        新鮮な海の幸を堪能できる「ひたちなか市魚市場」もおすすめ。<br><br>
                        鹿行エリアの自然とグルメ、どちらも楽しむことができます。<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"shrine2.jpg",  class:"shrine2_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">鹿島神宮</span>
                    </div>
                    <div class="place_introduction">
                    関東屈指のパワーポイント
                    </div>
                </div>
                <a href="https://kashimajingu.jp/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"azisai2.jpg",  class:"azisai2_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">あじさいの杜</span>
                    </div>
                    <div class="place_introduction">
                    紫陽花がつくる色鮮やかな絶景
                    </div>
                </div>
                <a href="https://www.nihonmatsuji.com/ajisai.html" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"hakutyou.jpg",  class:"hakutyou_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">白鳥の里</span>
                    </div>
                    <div class="place_introduction">
                    白鳥を身近に
                    </div>
                </div>
                <a href="https://www.city.itako.lg.jp/page/page001401.html" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"kaigan.jpg",  class:"kaigan_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">鹿島下津海岸</span>
                    </div>
                    <div class="place_introduction">
                        さわやかな潮風の吹き渡る浜辺
                    </div>
                </div>
                <a href="https://city.kashima.ibaraki.jp/site/kankou/3075.htm" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"meron.jpg",  class:"memron_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">メロン狩り</span>
                    </div>
                    <div class="place_introduction">
                    香り高くてあま～い本物の完熟メロンをご賞味ください
                    </div>
                </div>
                <a href="https://hokota-tpa.org/20210410-1846/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"itigo.jpg",  class:"itigo_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">いちご狩り</span>
                    </div>
                    <div class="place_introduction">
                    あたり一面いちごだらけ
                    </div>
                </div>
                <a href="https://ichigo.walkerplus.com/ranking/ar0308/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"pizza.jpg",  class:"pizza_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">ITALIAN  GAREGE</span>
                    </div>
                    <div class="place_introduction">
                    日本一のpizza職人の味をご賞味あれ
                    </div>
                </div>
                <a href="http://www.cafefishing.com/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"tenpura.jpg",  class:"tenpura_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">天ぷら割烹 てんや</span>
                    </div>
                    <div class="place_introduction">
                    こだわりたっぷりの天ぷら
                    </div>
                </div>
                <a href="https://city.kashima.ibaraki.jp/site/kashima-gohan/13685.html" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/3-2-3-1/js/3-2-3-1.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/4-14/js/4-14.js"></script>