<div class="back">
    <div class="top_container">
        <div class="image_container">
            <%= image_tag"night.jpg" %>
            <%= image_tag"splash.jpg" %>
            <%= image_tag"wanman.jpg" %>
        </div>
        <div class="theme1">
            SIGHTSEEING
        </div>
    </div>

    <div class="kennaiarea_container">
        <div class="area_introduction">
            <div class="kubun">
                <%= image_tag"kubun.jpg",  class:"kubun_image" %>
            </div>
            <div class="fadeLeftTrigger">
                <div class="area_name_setumei">
                    <div class="area_name">
                    茨城の風物詩<br>
                    ～歴史と自然が織りなす観光の絶景～
                    </div>
                    <div class="area_setumei">
                    茨城県は、歴史から自然まで幅広い魅力を持つ観光地です。<br><br>
                    筑波山の絶景や、四季折々の風情を楽しむ偕楽園は必訪。<br><br>
                    霞ヶ浦の湖沼景観は、夕暮れ時には特に美しい幻想的な景色を見せてくれます。<br><br>
                    歴史好きには、水戸黄門ゆかりの地や、古くからの鹿島神宮がおすすめ。<br><br>
                    アート好きには、モダンアートのアートタワーミトが心を打つ。<br><br>
                    大洗海岸での海水浴や、筑波山温泉での癒しのひとときも欠かせません。<br><br>
                    子供から大人まで楽しめるアクアワールド大洗も人気スポット。<br><br>
                    茨城県は、魅力溢れるスポットで心温まる旅を約束してくれます。<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"shrine2.jpg",  class:"shrine2_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">鹿島神宮</span>
                    </div>
                    <div class="place_introduction">
                    関東屈指のパワーポイント
                    </div>
                </div>
                <a href="https://kashimajingu.jp/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"hitachi.jpg",  class:"hitachi_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">日立駅</span>
                    </div>
                    <div class="place_introduction">
                        と緑に囲まれた息をのむ景色
                    </div>
                </div>
                <a href="https://seaside-station.com/station/hitachi/" class="btn05 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"aqueworld2.jpg",  class:"aqueworld2_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">アクアワールド茨城県大洗水族館</span>
                    </div>
                    <div class="place_introduction">
                        家族になっても忘れない思い出に。
                    </div>
                </div>
                <a href="https://www.aquaworld-oarai.com//" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"oaraishrine.jpg",  class:"oaraishrine_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">大洗磯前神社</span>
                    </div>
                    <div class="place_introduction">
                    心が触れる歴史と神々の息吹
                    </div>
                </div>
                <a href="https://www.oarai-isosakijinja.net/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"azisai2.jpg",  class:"azisai2_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">あじさいの杜</span>
                    </div>
                    <div class="place_introduction">
                    紫陽花がつくる色鮮やかな絶景
                    </div>
                </div>
                <a href="https://www.nihonmatsuji.com/ajisai.html" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"flowerpark.jpg",  class:"flowerpark_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">いばらき　フラワーパーク</span>
                    </div>
                    <div class="place_introduction">
                    四季の彩り、心に咲く自然の絵画。
                    </div>
                </div>
                <a href="https://www.flowerpark.or.jp/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"turibashi.jpg",  class:"turibashi_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">竜神大吊橋・竜神峡</span>
                    </div>
                    <div class="place_introduction">
                    空を渡る橋、竜神の絶景が呼ぶ。
                    </div>
                </div>
                <a href="https://ohtsuribashi.ryujinkyo.jp/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"tukubaonsen.jpg",  class:"tukubaonsen_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">筑波山温泉</span>
                    </div>
                    <div class="place_introduction">
                    茨城県が誇る名山の、大自然の中にある温泉
                    </div>
                </div>
                <a href="https://tsukubanoyu.com/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/3-2-3-1/js/3-2-3-1.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/4-14/js/4-14.js"></script>