<div class="back">
    <div class="top_container">
        <div class="image_container">
            <%= image_tag"kasumigaura.jpg"%>
            <%= image_tag"wanwan.jpg" %>
            <%= image_tag"sakura.jpg" %>
        </div>
        <div class="theme1">
            Sorth Ibaraki
        </div>
    </div>
    <div class="kennaiarea_container">
        <div class="area_introduction">
            <div class="kubun">
                <%= image_tag"kubun.jpg",  class:"kubun_image" %>
            </div>
            <div class="fadeLeftTrigger">
                <div class="area_name_setumei">
                    <div class="area_name">
                        県南エリア
                    </div>
                    <div class="area_setumei">
                        県南エリアは、海の恵みとアートの街として知られる。<br><br>
                        大洗の海水浴や「アクアワールド大洗」の海の生物展示は子供も大喜び。<br><br>
                        また、現代アートの展示も楽しめる「アートタワーミト」は必見。<br><br>
                        新鮮な魚介料理や「大洗のアンコウ料理」は旅の思い出に。<br><br>
                        アニメ「ガールズ&パンツァー」の聖地巡りも人気。<br><br>
                        夏は海、冬は温泉でリフレッシュできる、魅力的なエリアです。<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"outlet.jpg",  class:"outlet_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">あみプレミアム・アウトレット</span>
                    </div>
                    <div class="place_introduction">
                    最高のショッピング体験を。<br>
                    買い物が、思い出になる。
                    </div>
                </div>
                <a href="https://www.premiumoutlets.co.jp/ami/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"flowerpark.jpg",  class:"flowerpark_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">いばらき　フラワーパーク</span>
                    </div>
                    <div class="place_introduction">
                    四季の彩り、心に咲く自然の絵画。
                    </div>
                </div>
                <a href="https://www.flowerpark.or.jp/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"forest.jpg",  class:"forest_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">フォレストアドベンチャー<br>つくば</span>
                    </div>
                    <div class="place_introduction">
                    自然と触れ合い、自然と遊ぶ。
                    </div>
                </div>
                <a href="https://www.fa-tsukuba.com/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"tukubaonsen.jpg",  class:"tukubaonsen_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">筑波山温泉</span>
                    </div>
                    <div class="place_introduction">
                    茨城県が誇る名山の、大自然の中にある温泉
                    </div>
                </div>
                <a href="https://tsukubanoyu.com/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"ramen.jpg",  class:"ramen_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">つくばラーメン激戦区</span>
                    </div>
                    <div class="place_introduction">
                        あなたの一杯はどれ
                    </div>
                </div>
                <a href="https://tsukuba.ibanavi.net/sozai/ramen/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"sakura.jpg",  class:"sakura_image" %>
            </div>
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">福岡堰 さくらまつり</span>
                    </div>
                    <div class="place_introduction">
                    満開の桜は誰と見る
                    </div>
                </div>
                <a href="https://mirai-kankou.com/news/2023/02/08/2873" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"wanwan.jpg",  class:"wanwan_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">つくばわんわんランド</span>
                    </div>
                    <div class="place_introduction">
                    ワンちゃんで癒しを求めよう
                    </div>
                </div>
                <a href="https://wanwan-land.co.jp/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"sandwichi.jpg",  class:"sandwichi_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">手作りサンドイッチ つじや</span>
                    </div>
                    <div class="place_introduction">
                    懐かしい味をもう一度
                    </div>
                </div>
                <a href="https://tsujiya.biz/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/3-2-3-1/js/3-2-3-1.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/4-14/js/4-14.js"></script>