<div class="back">
    <div class="top_container">
        <div class="image_container">
            <%= image_tag"tukubamountain.jpg" %>
            <%= image_tag"hanabi2.jpg" %>
            <%= image_tag"madeicafe.jpg" %>
        </div>
        <div class="theme1">
            West Ibaraki
        </div>
    </div>

    <div class="kennaiarea_container">
        <div class="area_introduction">
            <div class="kubun">
                <%= image_tag"kubun.jpg",  class:"kubun_image" %>
            </div>
            <div class="fadeLeftTrigger">
                <div class="area_name_setumei">
                    <div class="area_name">
                        県西エリア
                    </div>
                    <div class="area_setumei">
                        茨城県の県西エリアは、歴史と自然の融合が魅力のエリアです。<br><br>
                        筑波山をはじめとする絶景スポットでは、四季折々の美しさに心奪われるでしょう。<br><br>
                        水戸黄門や偕楽園のような歴史的名所も多数点在し、歴史巡りも楽しめます。<br><br>
                        食の面では、新鮮な海の幸や地元野菜を使用した料理が堪能できる。<br><br>
                        特に、日本一の生産量を誇る「茨城のなす」を使った料理やスイーツは絶品。<br><br>
                        旅の疲れは、名湯「筑波山温泉」での温泉入浴で癒されること間違いなし。<br><br>
                        この県西エリアの多彩な魅力を、ぜひ現地で感じ取ってみてください。<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"tukubamountain2.jpg",  class:"tukubamountain2_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">筑波山</span>
                    </div>
                    <div class="place_introduction">
                        茨城の頂点
                    </div>
                </div>
                <a href="https://ttca.jp/%E8%A6%B3%E5%85%89%E6%83%85%E5%A0%B1/%E7%AD%91%E6%B3%A2%E5%B1%B1/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"hanabi2.jpg",  class:"hanabi2_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">利根川大花火大会</span>
                    </div>
                    <div class="place_introduction">
                    利根川の夜空に、一夜の夢が舞い上がる。
                    </div>
                </div>
                <a href="https://www.sakai-hanabi.com/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"azisai.jpg",  class:"azisai_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">雨引観音</span>
                    </div>
                    <div class="place_introduction">
                    古の時からの静寂な祈り
                    </div>
                </div>
                <a href="https://www.ibarakiguide.jp/special/ibaraki_ajisai2023/01_amabiki.html" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"mitinoeki.jpg",  class:"mitinoeki_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">道の駅 グランテラス筑西</span>
                    </div>
                    <div class="place_introduction">
                    元の魅力が溢れる一時停車
                    </div>
                </div>
                <a href="https://granterrace-chikusei.com/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"nisishrine.jpg",  class:"nisishrie_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">西金砂神社</span>
                    </div>
                    <div class="place_introduction">
                    歴史の中の静かな守護。
                    </div>
                </div>
                <a href="https://www.kanko-hitachiota.com/page/page000039.html" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"hirosawa.jpg",  class:"hirosawa_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">廣澤美術館</span>
                    </div>
                    <div class="place_introduction">
                    いつ来ても、新しい発見がある。
                    </div>
                </div>
                <a href="https://www.shimodate.jp/hirosawa-museum_of_art.html" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>

    <div class="famous_place">
        <div class="famous_class1">
            <div class="fadeUpTrigger">
                <%= image_tag"omusubi.jpg",  class:"omusubi_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">お結び家縁</span>
                    </div>
                    <div class="place_introduction">
                    - 心と心の絆を、ひとつのお結びで
                    </div>
                </div>
                <a href="https://omusubiya-en.com/" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
        <div class="famous_class2">
            <div class="fadeUpTrigger">
                <%= image_tag"madeicafe.jpg",  class:"madeicafe_image" %>
            </div>    
            <div class="name_flex">
                <div class="name_view">
                    <div class="place_name">
                        <span class="underline_black">madei cafe</span>
                    </div>
                    <div class="place_introduction">
                    休憩をラテアートと共に
                    </div>
                </div>
                <a href="https://www.yutari.jp/club/CafeRestaurant/cC161111.htm" class="btn06 bordercircle3">
                    <span class="underline_black">view more →</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/3-2-3-1/js/3-2-3-1.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/4-14/js/4-14.js"></script>